<%= form_tag(withdraws_path) %>
	<div class="field">
    <%= label_tag("year", "年份: ") %>
    <%= text_field_tag('year', @year) %>
    <%= label_tag("year", "月份: ") %>
    <%= text_field_tag('month', @month) %>
  </div>
	<table class="table table-striped">
	  <tr>
	    <th>工号</th>
	    <th>姓名</th>
			<th>支取金额</th>
			<th>满勤奖</th>
	  </tr>
	 
		<% @employees.each do |e| %>
	  <tr>
			
	    <td><%= e.id_card %></td>
	    <td><%= e.name %></td>
			<td>
				<%= hidden_field_tag('withdraws[][employee_id]', e.id) %>
				<%= text_field_tag('withdraws[][amount]') %>
			</td>
			<td><%= text_field_tag('withdraws[][bonus]', @bonus[e.id]) %></td>
	  </tr>
		<% end %>
	</table>
  <div class="actions">
    <%= submit_tag "保 存" %>
  </div>
<% $end %>
<br/>