<h3>编辑费用支取信息</h3>
 
<%= form_tag(withdraws_update_path) %>
  <div class="field">
    <%= @year %>年<%= @month %>月份员工费用支取列表
    <%= hidden_field_tag('year', @year) %>
    <%= hidden_field_tag('month', @month) %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>工号</th>
      <th>姓名</th>
      <th>支取金额</th>
      <th>满勤奖</th>
    </tr>
   
    <% @employees.each do |employee| %>
    <tr>
      
      <td><%= employee.id_card %></td>
      <td><%= employee.name %></td>
      <td>
        <% withdraw = @employee_withdraws[employee.id] %>
        <% id = withdraw.id if !withdraw.nil? %>
        <% amount = withdraw.amount if !withdraw.nil? %>
        <%= hidden_field_tag('withdraws[][id]', id) %>
        <%= hidden_field_tag('withdraws[][employee_id]', employee.id) %>
        <%= text_field_tag('withdraws[][amount]', amount) %>
      </td>
      <td><%= text_field_tag('withdraws[][bonus]', withdraw.month_bonus) %></td>
    </tr>
    <% end %>
  </table>
  <div class="actions">
    <%= submit_tag "保 存" %>
  </div>
<% $end %>
<br/>
<%= link_to '返回', withdraws_path %>