<h3>编辑考勤</h3>
 
<%= form_tag(attendances_update_path) %>
  <div class="field">
    <%= @year %>年<%= @month %>月份考勤
    <%= hidden_field_tag('year', @year) %>
    <%= hidden_field_tag('month', @month) %>
    <%= label_tag("total", "满勤工作日") %>
    <%= text_field_tag('total', @total) %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>工号</th>
      <th>姓名</th>
      <th>工作日</th>
    </tr>
   
    <% @employees.each do |employee| %>
    <tr>
      
      <td><%= employee.id_card %></td>
      <td><%= employee.name %></td>
      <td>
        <%= hidden_field_tag('attendances[][id]', @employee_attendance[employee.id].id) %>
        <%= hidden_field_tag('attendances[][employee_id]', employee.id) %>
        <%= text_field_tag('attendances[][work_time]', @employee_attendance[employee.id].work_time) %>
      </td>
    </tr>
    <% end %>
  </table>
  <div class="actions">
    <%= submit_tag "保 存" %>
  </div>
<% $end %>
<br/>
<%= link_to '返回', attendances_path %>