<h3>费用支取列表</h3>

<%= form_tag(withdraws_search_path) %>
	<div class="field">
		<%= label_tag("year", "选择年份") %>
		<%= text_field_tag 'year', @year %>
		<%= submit_tag "查询" %>
	</div>
<% $end %>
<table class="table table-striped">
  <thead>
	<tr>
    <th>工号</th>
    <th>姓名</th>

		<% @months.each do |month| %>
		<th>
			<% if @year.nil? or @year.empty? or @withdraws.size == 0 %>
				<%= month %>月
			<% else %>
				<a href='/withdraws/<%= @year %>/<%= month %>/edit'><%= month %>月</a>
			<% end %>
		</th>
		<% end %>
		<th>合计(￥)</th>
  </tr>
	</thead>

	<% if !@year.nil? and !@year.empty? %>
	<tbody>
	<% total = 0 %>
	<% @employees.each do |employee| %>
	<% array = @employee_withdraws[employee.id] %>
		<% if !array.nil? %>
	  <tr class="<%= 'resign' if employee.resigned? %>">
	    <td><%= employee.id_card %></td>
	    <td><%= employee.name %></td>
			<% sum = 0 %>
			<% @months.each do |month| %>
				<% amount = array[month-1] %>
				<td><%= amount %></td>
				<% sum += amount if !amount.nil?%>
			<% end %>
			<% total += sum %>
	    <td><%= sum %></td>
		</tr>
		<% end %>
	<% end %>
	</tbody>
	<tfoot>
  <tr>
		<td colspan="<%= @months.size+2 %>">总计</td>
		<td><%= total %></td>
	</tr>
	</tfoot>
	<% end %>
</table>
<br />
 
<%= link_to '新建员工支取', new_withdraw_path %>


