<%= form_tag(salaries_path) %>
	<div class="field">
    <%= label_tag("year", "年份: ") %>
    <%= text_field_tag('year', @year) %>
    <%= label_tag("month_bonus", "满勤奖: ") %>
    <%= text_field_tag('month_bonus', @month_bonus) %>
    <%= label_tag("year_bonus", "年终奖") %>
    <%= text_field_tag('year_bonus', @year_bonus) %>
  </div>
	<table class="table table-striped">
	  <tr>
	    <th>工号</th>
	    <th>姓名</th>
			<th>工资标准</th>
	  </tr>
	 
		<% @employees.each do |employee| %>
	  <tr>
			
	    <td><%= employee.id_card %></td>
	    <td><%= employee.name %></td>
			<td>
				<%= hidden_field_tag('salaries[][employee_id]', employee.id) %>
				<%= text_field_tag('salaries[][total]') %>
			</td>
	  </tr>
		<% end %>
	</table>
  <div class="actions">
    <%= submit_tag "保 存" %>
  </div>
<% $end %>
<br/>