<h3>总计</h3>
<%= form_tag(summary_search_path) %>
  <div class="field">
    <%= label_tag("start_date", "选择开始日期") %>
    <%= text_field_tag 'start_date', @start_date %>
    <%= label_tag("end_date", "选择结束日期") %>
    <%= text_field_tag 'end_date', @end_date %>
    <%= submit_tag "查询" %>
  </div>
<% $end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>工号</th>
    <th>姓名</th>
    <th>工资标准</th>
    <th>全年工作日</th>
    <th>实际工作日</th>
    <th>实际工资</th>
    <th>满勤奖</th>
    <th>年终奖</th>
    <th>总计</th>
    <th>支取</th>
    <th>余额</th>
  </tr>
  </thead>
<% @employees.each do |employee| %>
  <% summary = @summary[employee.id] %>
  <% if !summary.nil? %>
  <tbody>
  <tr class="<%= 'resign' if employee.resigned? %>">
    <td><%= employee.id_card%></td>
    <td><%= employee.name %></td>
    <td><%= summary["工资标准"] %></td>
    <td><%= summary["全年工作日"] %></td>
    <td><%= summary["实际工作日"] %></td>
    <td><%= number_to_currency(summary["实际工资"], unit: "", precision: 0) %></td>
    <td><%= summary["满勤奖"] %></td>
    <td><%= summary["年终奖"] %></td>
    <td><%= number_to_currency(summary["总计"], unit: "", precision: 0) %></td>
    <td><%= number_to_currency(summary["支取"], unit: "", precision: 0) %></td>
    <td><%= number_to_currency(summary["余额"], unit: "", precision: 0) %></td>
  </tr>
  </tbody>
  <% end %>
  <% end %>
  <% if !@total.nil? %>
  <tfoot>
  <tr>
    <td colspan="2">总计</td>
    <td colspan="3"><%= @total["工资标准"] %></td>
    <td><%= number_to_currency(@total["实际工资"], unit: "", precision: 0) %></td>
    <td><%= @total["满勤奖"] %></td>
    <td><%= @total["年终奖"] %></td>
    <td><%= number_to_currency(@total["总计"], unit: "", precision: 0) %></td>
    <td><%= number_to_currency(@total["支取"], unit: "", precision: 0) %></td>
    <td><%= number_to_currency(@total["余额"], unit: "", precision: 0) %></td>
  </tr>
  </tfoot>
  <% end %>
</table>




