<h3>总计</h3>
<%= form_tag(summary_search_path) %>
  <div class="field">
    <%= label_tag("year", "选择年份") %>
    <%= text_field_tag 'year', @year %>
    <%= submit_tag "查询" %>
  </div>
<% $end %>
<table class="table table-striped">
  <tr>
    <th>工号</th>
    <th>姓名</th>
		<th>年薪</th>
		<th>工时</th>
		<th>满勤奖</th>
    <th>年终奖</th>
    <th>支取</th>
    <th>余额</th>
  </tr>
 
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.id%></td>
    <td><%= employee.name %></td>

  </tr>
<% end %>
</table>
 
<br />
 
<%= link_to '新建员工', new_employee_path %>



