<%= form_tag("/attendances") %>
	<div class="field">
    <%= label_tag("date", "日期") %>
    <%= text_field_tag('date') %>
    <%= label_tag("total", "满勤工作日") %>
    <%= text_field_tag('total') %>
  </div>
	<table class="table table-striped">
	  <tr>
	    <th>工号</th>
	    <th>姓名</th>
			<th>工作日</th>
	  </tr>
	 
		<% @employees.each do |employee| %>
	  <tr>
			
	    <td><%= employee.id_card %></td>
	    <td><%= employee.name %></td>
			<td><%= hidden_field_tag('attendances[][employee[id]', employee.id) %><%= text_field_tag('attendances[][work_time]') %></td>
	  </tr>
		<% end %>
	</table>
  <div class="actions">
    <%= submit_tag "保 存" %>
  </div>
<% $end %>
<br/>