<h3>员工考勤列表</h3>

<%= form_tag(attendances_search_path) %>
	<div class="field">
		<%= label_tag("year", "选择年份") %>
		<%= text_field_tag 'year', @year %>
		<%= submit_tag "查询" %>
	</div>
<% $end %>
<table class="table table-striped">
	<thead>
	<tr>
    <th>工号</th>
    <th>姓名</th>
		<% (1..@months.size).each do |month| %>
		<th>
			<% if @year.nil? or @year.empty? or @attendances.size == 0 %>
				<%= month %>月
			<% else %>
				<a href='/attendances/<%= @year %>/<%= month %>/edit'><%= month %>月<br/>(<%= @work_days[month] %>天)</a>
			<% end %>
		</th>
		<% end %>
  </tr>
	</thead>
	<tbody>
	<% if !@year.nil? and !@year.empty? %>
	<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.id_card %></td>
    <td><%= employee.name %></td>
		<% (1..@months.size).each do |month| %>
			<% array = @employee_attendance[employee.id] %>
			<% work_time = array[month-1] if !array.nil? %>
			<% if !work_time.nil? and work_time >= @work_days[month] %>
				<td class="full_work_time"><%= work_time %>(满)</td>
			<% else %>
				<td><%= work_time %></td>
			<% end %>
		<% end %>
  </tr>
	<% end %>
	<% end %>
</tbody>
</table>
 
<br />
 
<%= link_to '新建员工考勤', new_attendance_path %>




