<!-- Fixed navbar -->
<div class="navbar navbar-default " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">天翔管理系统</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class='<%=@nav_employee %>'><%= link_to('员工管理', employees_path) %></li>
        <li class='<%=@nav_attendance %>'><%= link_to('考勤管理', attendances_path) %></li>
        <li class='<%=@nav_withdraw %>'><%= link_to('支取管理', withdraws_path) %></li>
        <li class='<%=@nav_salary %>'><%= link_to('薪资管理', salaries_path) %></li>
        <li class='<%=@nav_summary %>'><%= link_to('总账管理', employees_path) %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to(current_user.email, '#') %></li>
        <li><%= link_to('注销', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

