<!DOCTYPE html>
<html>
<head>
  <title>天翔管理系统</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= render "layouts/navbar" %>
<% end %>
<% if notice %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-warning"><%= alert %></p>
<% end %>
<div class="container">

  <!-- Main component for a primary marketing message or call to action -->

<%= yield %>
<br/><br/><br/>
</div> <!-- /container -->

  <%= javascript_include_tag "application" %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  
</body>
</html>
